.sign{
    margin:0 auto;
    display:flex;
    justify-content:flex-start;
    align-items:center;
    width:85%;
    margin-top:30px;
    margin-bottom: 50px;
    font-size:20px;
    font-weight:700;
    height:70vh;
    .contact{
        width:100%;
        height:100%;
        display:flex;
         .leftside{
            height:100%;
            flex:45%;
            object-fit:content;
            background-size:cover;
            background-position:center;
            box-shadow:0px 3px 15px rgb(175, 161, 161);
            border-radius:7px;
            @media screen and (max-width:500px){
                    display:none;
            }
        }
         .rightside{
            height:100%;
            flex:55%;
            display:flex;
            flex-direction:column;
            justify-content:center;
            @media screen and (max-width:500px){
                    width:80%;
            }
             h1{
                font-size:30px;
                margin:0;
                margin-left:30px;
                margin-top:-15px;
                font-weight:bold;
                color:#36363b;
            }
            form{
                display:flex;
                flex-direction:column;
                height:auto;
                width:auto;
                padding: 0 30px;
                 input {
                    width:80%;
                    height:40px;
                    border:none;
                    padding-left:5px;
                    color:black;
                    border-radius:5px;
                    box-shadow:0px 3px 10px rgb(177, 156, 156);
                    &::placeholder{
                     font-weight:bold;
                     font-size:11px;
                     color:#36363b;
                     
                  }
                  &:focus{
                      outline:none;
                        }
                
                 }
                 textarea{
                    height:70px;
                    width:80%;
                    border:none;
                    // border-bottom:2px solid #1e847f;
                    color:#36363b;
                    font-size:16px;
                    border-radius:5px;
                    box-shadow:0px 3px 10px rgb(177, 156, 156);
                    &::placeholder{
                      font-weight:bold;
                     color:#36363b;
                      }
                      &:focus{
                        outline:none;
                           }
                           }
                         label{
                            margin:20px 0  5px 0;
                            color:#36363b;
                            @media screen and(max-width:500px){
                                font-size:14px;
                            }
                        }
                        button{
                            margin-top:60px;
                            width:140px;
                            height:40px;
                            border:none;
                            color:white;
                            background-color:#36363b;
                            box-shadow:0px 9px 15px rgb(177, 156, 156);
                            cursor:pointer;
                            font-size:16px;
                            border-radius:5px;
                            font-weight: bold;
                            font-family: 'Barlow Condensed', sans-serif;
                            @media screen and(max-width:300px){
                              width:80%;
                              font-weight: normal;
                            }
                        }
            }
        }
    }
}










